<configuration>
  <system.webServer>
    <security>
      <requestFiltering>
        <denyUrlSequences>
          <add sequence="/ec-cube/data" />
        </denyUrlSequences>
      </requestFiltering>
    </security>
    <defaultDocument>
      <!-- Set the default document -->
      <files>
        <clear />
        <add value="index.php" />
      </files>
    </defaultDocument>
    <handlers>
      <remove name="PHP54_via_FastCGI" />
      <add name="PHP54_via_FastCGI" path="*.php" verb="GET,HEAD,POST" modules="FastCgiModule" scriptProcessor="D:\Program Files (x86)\PHP\v5.4\php-cgi.exe" resourceType="Either" requireAccess="Script" responseBufferLimit="0"/>
    </handlers>
  </system.webServer>
</configuration>
